{{- $popular := where site.RegularPages "Params.popular" true -}}
{{- $popular = first 5 $popular -}}
{{- with $popular }}
<div class="popular-posts">
  <h2>{{ i18n "popular_posts" | default "Popular Posts" }}</h2>
  <div class="popular-posts-list">
    {{- range . }}
    <article class="post-entry">
      {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
      {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .Title }}</h2>
      </header>
      {{- if (ne (.Param "hideSummary") true) }}
      <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </div>
      {{- end }}
      {{- if not (.Param "hideMeta") }}
      <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
      </footer>
      {{- end }}
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
    {{- end }}
  </div>
</div>
{{- end }}
